.full-day button span {
    background-color: orange;
    color: black;
  }
  .half-day button span {
    background-color: blue;
    color: black;
  }
.head{
	background-color: rgba(0,0,0,0.7);
	color: #fff; 
}
body{
	margin :0px;
	padding: 0px;
	background-image: url("https://www.omnihotels.com/-/media/images/hotels/ausctr/pool/ausctr-omni-austin-hotel-downtown-evening-pool.jpg?h=660&la=en&w=1170");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.table{
		color: #fff;
}
label{
		color: #fff;
}