body {
    background-color: #FFFCE6 !important;
}

h1 {
    color: white !important;
}

.me_container {
    background-color: #FFFCE6;
}

.full-day button span {
    background-color: #F24D16;
    color: black;
}

.half-day button span {
    background-color: #4CD4B0;
    color: black;
}

.alignCenter {
    text-align: center !important;
}

.me_buttonReserv {
    height: 35px;
    width: 80px;
    background-color: #4CD4B0;
    border-radius: 5px;
    border: 0;
    padding: 7px;
    padding-left: 12px;
    font-size: 15px;
    color: #000;
}

.me_buttonReserv:hover {
    cursor: pointer;
    color: white;
    background-color: #F24D16;
}

.me_buttonDropdown {
    background-color: #EDD834;
    border: 0;
    border-radius: 3px;
    width: 150px;
    height: 36px;
}

.me_header {
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #F24D16;
    padding-bottom: 25px;
}

.me_body {
    background-color: #fff;
    padding-top: 20px;
}

.me_footer {
    background-color: #fff;
    padding-top: 20px;
    border-radius: 0 0 10px 10px;
}

.me_boxHalfDay {
    background-color: #4CD4B0;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.me_boxFullDay {
    background-color: #F24D16;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}
